/* svg {
    animation: rotate 2s linear infinite;
    background-color: red;
} */
/* @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */
/* svg circle {
    fill: none;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%, 100% { stroke-dashoffset: 440; }
    50% { stroke-dashoffset: 0; }
    50.1% { stroke-dashoffset: 880; }
} */